<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    <form action="/RegisterOrg" method="post">
        <input type="text" name="OrgName" placeholder="Name of Organization">
        <br>
        <label for="">Org Owner</label>
        <br>
        <input type="text" name="UserName" placeholder="Owner User Name">
        <input type="text" name="Password" placeholder="Password">
        <input type="text" name="FirstName" placeholder="First Name">
        <input type="text" name="LastName" placeholder="Password">
        <input type="text" name="Email" placeholder="Email">
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>