<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    <%- include('../Partials/MainNav.ejs') %>
    
    Login/Register
    
    
    <form action="/Login" method="post">
        <input type="text" name="UserName" placeholder="User Name">
        <input type="text" name="Password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    
    <br>


    
    <%- include('../Partials/Footer.ejs') %>
</body>
</html>